/* This will globally reset the fonts */
* {

margin: 0;
padding: 0;
box-sizing: border-box;


}

body {

background-color: #1e1e1e;
color: #e8e6e3;
font-family: 'Courier New', Courier, monospace;;
line-height:  1.6;

}

/* For Header and Navigation */

header {

background-color: #0f0f10;
border-bottom: 2px solid #b92d2d;
padding: 1.5rem 10%;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 100;

}

.logo {

font-weight: bold;
color: #ff4d4d;
letter-spacing: 1px;
font-family: 'Courier New', Courier, monospace;

}

nav ul {

display: flex;
list-style: none;

}

nav ul li {

margin-left: 20px;

}

nav ul li a {

color: #e0e0e0;
text-decoration: none;
font-size: 0.9rem;
transition: color 0.3s;

}

nav ul li a:hover {

color: #4CAF50;

}

/* Main content Layout */

main {

max-width: 900px;
margin: 2rem auto;
padding: 0 20px;

}

section {

margin-bottom: 3rem;
padding-bottom: 2rem;
border-bottom: 1px solid #333;

}

h1, h2, h3 {

margin-bottom: 1rem;
color: #fffff;

}

h2 { 

background-color: #b92d2d;
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
 }

/* Projekt "Cards" styling */

 .projekt {

background: #252526;
padding: 1.5rem;
border-radius: 4px;
margin-bottom: 1.5rem;
border-left: 3px solid #3e3e42;
transition: transform 0.2s;

 }

 .projekt:hover {

border-left-color: #b92d2d;
background: #2d2d2d;

 }

 code {
    display: block;
    background: #0a0a0a;
    padding: 15px;
    margin-top: 15px;
    color: #e8e6e3; 
    border: 1px solid #b92d2d; 
    font-size: 0.85rem;
 }

 footer {

text-align: center;
padding: 2rem;
font-size: 0.8rem;
color: #666;


 }
